#container {
    position: relative;
    margin: 0px auto;
    text-align: left;
    width: 1160px;
    padding: 10px 10px 15px 10px;
    border: 0px solid #EBEBEB;
}

#crumb {
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background-image: url(../imgs/home.jpg);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #017BC6;
}

#crumb * {
    color: #686868;
}

#crumb span {
    text-indent: 25px;
    float: left;
    margin-right: 30px;
    padding-left: 10px;
    font-size: 15px;
}

#crumb h2 {
    position: absolute;
    font-size: 15px;
    color: #fff;
    text-indent: 35px;
    display: none;
}

#main {
    padding-top: 10px;
    background-color: #fff;
}

#left {
    padding-left: 0px;
    width: 240px;
    margin-right: 15px;
    overflow: hidden;
    float: left;
    display: inline;
}

#sideMenu {
    margin-bottom: 10px;
    background-color: #fbfbfb;
}

#sideMenu h3 {
    border: 0px solid #DCDCDC;
    text-indent: 25px;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
    font-size: 18px;
    font-weight: normal;
    background-image: url(../imgs/sideMenuh3.jpg);
    background-repeat: no-repeat;
    background-position: right 0px;
    color: #FFFFFF;
}

h3 {
    font-size: 14px;
}

#right {
    width: 895px;
    overflow-x: hidden;
    float: left;
    min-height: 280px;
}

#rightBox {
    overflow-x: hidden;
}



