#container {
    position: relative;
    margin: 0px auto;
    text-align: left;
    width: 1160px;
    padding: 10px 10px 15px 10px;
    border: 0px solid #EBEBEB;
}

#crumb {
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background-image: url(../imgs/home.jpg);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #017BC6;
}

#crumb span {

    text-indent: 25px;
    float: left;
    margin-right: 30px;
    padding-left: 10px;
    font-size: 15px;
}

#crumb * {
    color: #686868;
}

#main {
    padding-top: 10px;
    background-color: #fff;
}

#left {
    padding-left: 0px;
    width: 240px;
    margin-right: 15px;
    overflow: hidden;
    float: left;
    display: inline;
}

#sideMenu {
    margin-bottom: 10px;
    background-color: #fbfbfb;
}

#sideMenu h3 {
    border: 0px solid #DCDCDC;
    text-indent: 25px;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
    font-size: 18px;
    font-weight: normal;
    background-image: url(../imgs/sideMenuh3.jpg);
    background-repeat: no-repeat;
    background-position: right 0px;
    color: #FFFFFF;
}

#right {
    width: 895px;
    overflow-x: hidden;
    float: left;
    min-height: 280px;
}

.classH4 {
    height: 44px;
    line-height: 44px;
    font-size: 22px;
    color: #004694;
    text-indent: 15px;
    background-image: url(../imgs/linet.jpg);
    background-repeat: no-repeat;
    background-position: 5px bottom;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-weight: normal;
}

#rightBox {
    overflow-x: hidden;
}

#op11 .subNBox {
    padding-left: 10px;
    margin-bottom: 20px;
}

#op11 h3 {
    padding-left: 5px;
    clear: both;
    line-height: 30px;
    height: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    background-image: url(../imgs/subBar2.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    font-weight: normal;
}

#op11 h3 a {
    float: right;
    margin-right: 10px;
    margin-top: -5px;
    font-size: 14px;
    font-weight: normal;
    height: 18px;
}
#op11 h3 a:link, #op11 h3 a:visited {
    color: #999;
}
#op11 li a {
    float: left;
    width: 80%;
    letter-spacing: 0px;
    font-size: 15px;
}
#op11 h3 a:hover {
    color: #0E68C0;
}
#op11 li span {
    float: right;
    margin-right: 0px;
    font-size: 12px;
    color: #999;
}